*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}

body{
    text-align: center;
    background-color: rgb(29, 29, 128);
    padding: 50px;
}

input{
    width: 225px;
    height: 30px;
    padding: 10px;
    font-size: 15px;
    margin-top: 30px;
    outline: none;
}
.box{
    margin: 150px auto;
}

button{
    padding: 10px 25px;
    background-color: gray;
    color: white;
    border-radius: 10px;
    margin-top: 50px;
}

h1{
    font-size: 60px;
    color: green;
    margin-top: 50px;
}